texts/bible/nkjv/43-ESGeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/51-BELeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/73-JHNeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/93-2JNeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/15-2CHeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/25-JEReng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/33-JONeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/37-ZEPeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/85-2TIeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/87-PHMeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/88-HEBeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/21-PROeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/32-OBAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/35-NAMeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/41-TOBeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/46-SIReng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/50-SUSeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/84-1TIeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/12-1KIeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/26-LAMeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/49-S3Yeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/82-1THeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/17-NEHeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/47-BAReng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/79-EPHeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/34-MICeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/40-MALeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/09-RUTeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/58-2ESeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/76-1COeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/30-JOLeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/36-HABeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/38-HAGeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/53-2MAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/52-1MAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/77-2COeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/78-GALeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/80-PHPeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/42-JDTeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/45-WISeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/55-MANeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/72-LUKeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/02-GENeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/04-LEVeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/19-JOBeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/29-HOSeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/03-EXOeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/11-2SAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/23-SNGeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/24-ISAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/54-1ESeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/83-2THeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/95-JUDeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/07-JOSeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/13-2KIeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/16-EZReng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/31-AMOeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/86-TITeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/96-REVeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/06-DEUeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/10-1SAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/14-1CHeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/71-MRKeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/81-COLeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/92-1JNeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/22-ECCeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/39-ZECeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/70-MATeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/75-ROMeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/94-3JNeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/05-NUMeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/18-ESTeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/28-DANeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/91-2PEeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/89-JASeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/90-1PEeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/08-JDGeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/20-PSAeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/27-EZKeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/nkjv/74-ACTeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/bible/00-FRTeng-kjv.usfm filter=lfs diff=lfs merge=lfs -text
texts/tao/linn/raw.txt filter=lfs diff=lfs merge=lfs -text
texts/tao/linn/tao.txt filter=lfs diff=lfs merge=lfs -text
